<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Colorama</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script type="text/javascript" src="js/socket.io"></script>

  </head>
  <body>
    <script>
      const socket = io();
      socket.on('arduino:data',function(data){
        document.getElementById("numero-nivel1").textContent = data.nivelJugador1;
        document.getElementById("numero-puntos1").textContent = data.puntosJugador1;
        document.getElementById("numero-errores1").textContent = data.erroresJugador1;
        document.getElementById("numero-nivel2").textContent = data.nivelJugador2;
        document.getElementById("numero-puntos2").textContent = data.puntosJugador2;
        document.getElementById("numero-errores2").textContent = data.erroresJugador2; 



      });
    </script>
    <div class="row">
      <h3 class="center-align">
        <strong class="blue-text">C</strong>
        <strong class="yellow-text">O</strong>
        <strong class="green-text">L</strong>
        <strong class="red-text">O</strong>
        <strong class="purple-text">R</strong>
        <strong class="grey-text">A</strong>
        <strong class="orange-text">M</strong>
        <strong class="cyan-text">A</strong>
      </h3>

      <div class="col l6 m6 s12">
        <div class="card z-depth-3 blue-grey">
          <h4 class="center-align white-text">Jugador 1</h4>
          <div class="card-content">
            <h5 class="center-align white-text">Número de Nivel</h5>
            <h3 class="center-align white-text" id="numero-nivel1">1 </h3>

            <h5 class="center-align white-text">Numero de puntos
              <h3 class="center-align white-text" id="numero-puntos1">0 </h3>
            </h5>
            <h5 class="center-align white-text">Errores
              <h3 class="center-align white-text" id="numero-errores1">0 </h3>
            </h5>
            </div>
        </div>

      </div>
      <div class="col l6 m6 s12">
          <div class="card z-depth-3 blue">
              <h4 class=" center-align white-text ">Jugador 2</h4>
            <div class="card-content">
              <h5 class="center-align white-text">Número de Nivel</h5>
              <h3 class="center-align white-text" id="numero-nivel2">1 </h3>

              <h5 class="center-align white-text">Numero de puntos
                <h3 class="center-align white-text" id="numero-puntos2">0 </h3>
              </h5>
              <h5 class="center-align white-text">Errores
                <h3 class="center-align white-text" id="numero-errores2">0 </h3>
              </h5>
              </div>
          </div>

      </div>
    </div>
  </body>
</html>
